nav{
    background: brown;
}
nav ul{
    list-style-type: none;
    display: flex;
}
nav ul li{
    flex:1 1 0;
    text-align: center;
    position: relative;
}
nav ul li a{
    text-align: center;
    display: block;
    padding: 10px;
    color:burlywood;
    text-decoration: none;
    font-style: italic;
}
nav a:hover{
    color: white;
}
.flex-container{

}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    padding: 1rem;
}
.gallery-item{
    padding: 10px;
}
.gallery-item>img:hover{
    filter: drop-shadow(4px 4px);
}
.gallery{

}